body {
    padding-top: 56px;
    background-color: #343A40;
}

.list-group {
    margin-bottom: 10px !important;
}

#categories {
    margin-bottom: 10px !important;
    margin-left: 10px;
}

a.list-group-item {
    text-decoration: none;
    color: black;
}

a.list-group-item:hover {
    text-decoration: none;
    background-color: #DCDCDC;
}

.form-search {
    margin-top: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .category {
        margin-right: 15px;
        margin-left: 15px;
    }
}

#btn-search {
    background-color: #CED4DA;
    border: 1px solid #CED4DA;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
}

section#main {
    background-color: #fff;
}

a.nav-link {
    color: #FFF !important;
}

a.nav-link:hover {
    color: #DCDCDC !important;
}